Repository Happy-Dreaming/dreaming, pull requests merged in 2024-04, with the labels that each got.

#4 Feature/카카오 로그아웃 구현
  .env.example
  app/api/allUser/route.ts
  app/api/auth/[...nextauth]/route.ts
  app/auth/signIn/page.tsx
  app/components/Kakao/Login.tsx
  app/components/Kakao/Logout.tsx
  app/components/Next-Auth/index.tsx
  app/components/kakaoLoginButton.tsx
  app/layout.tsx
  app/lib/oauth.ts
  app/lib/token.ts
  app/lib/user.ts
  middleware.ts
  package-lock.json
  package.json
  prisma/schema.prisma
Labels: 📬 API, ✨ Feature

#7 [#6] 다이어리 조회, 추가, 삭제, 수정 기능 추가
  app/api/auth/logout/route.ts
  app/api/best-posts/route.ts
  app/api/diary/[id]/route.ts
  app/api/diary/route.ts
  app/auth/signIn/page.tsx
  app/components/Kakao/Logout.tsx
  app/lib/diary.ts
  app/lib/token.ts
  constants.ts
  next.config.js
  prisma/schema.prisma
  utils/index.ts
Labels: 📬 API, ✨ Feature

#9 [#8] 댓글에 대한 추가,삭제 기능 추가
  app/api/comment/route.ts
  app/api/diary/[id]/route.ts
  app/api/diary/route.ts
  app/api/user/route.ts
  app/auth/signIn/page.tsx
  app/lib/comment.ts
  app/lib/diary.ts
  app/lib/point.ts
  app/lib/user.ts
  prisma/schema.prisma
Labels: 📬 API, ✨ Feature

#5 [#1] 페이지 디자인
  app/community/community.module.css
  app/community/page.tsx
  app/components/BasicPagination.tsx
  app/components/Diary/Diary.module.css
  app/components/Diary/Diary.tsx
  app/components/Dream/Dream.module.css
  app/components/Dream/Dream.tsx
  app/components/HallOfFame/HallOfFame.tsx
  app/components/HallOfFame/hallOfFame.module.css
  app/components/LinkToDiary/LinkToDiary.tsx
  app/components/LinkToDiary/linkToDiary.module.css
  app/components/LinkToDictionary/LinkToDictionary.module.css
  app/components/LinkToDictionary/LinkToDictionary.tsx
  app/components/LinkToReport/LinkToReport.module.css
  app/components/LinkToReport/LinkToReport.tsx
  app/components/Navbar/Navbar.tsx
  app/components/Navbar/navbar.module.css
  app/components/Search/Search.module.css
  app/components/Search/Search.tsx
  app/diary/diary.module.css
  app/diary/page.tsx
  app/dictionary/dictionary.module.css
  app/dictionary/page.tsx
  app/layout.tsx
  app/login/login.module.css
  app/login/page.tsx
  app/main/main.module.css
  app/main/page.tsx
  app/map/map.module.css
  app/map/page.tsx
  app/post/page.tsx
  app/post/post.module.css
  package-lock.json
  package.json
  public/icon_book.png
  public/icon_lotto.png
  public/icon_moon.png
  public/icon_report.png
  public/kakao_login.png
  public/logo_dreaming.png
  public/logosquare.png
  public/miniLogo_dreaming.png
  styles/globals.css
  tsconfig.json
Labels: ✨ Feature, 🎨 Html&css

#16 [#12] 글 확인 페이지
  app/components/Comment/Comment.module.css
  app/components/Comment/Comment.tsx
  app/read/page.tsx
  app/read/read.module.css
Labels: ✨ Feature, 🎨 Html&css

#17 [#13] 로또 번호 추천 페이지 디자인
  app/lotto/lotto.module.css
  app/lotto/page.tsx
  styles/globals.css
Labels: ✨ Feature, 🎨 Html&css

#21 [#10] 꿈 해몽 크롤링
  app/api/dictionary/route.ts
  app/auth/signIn/page.tsx
  app/lib/diary.ts
  app/lib/dictionary.ts
  package-lock.json
  package.json
  prisma/schema.prisma
  vercel.json
Labels: 📬 API, ✨ Feature

#22 [#18] api: 사용자 현재 위치 주변 복권 판매처 (카카오맵)
  app/components/KakaoMap.tsx
  app/layout.tsx
  app/map/map.module.css
  app/map/page.tsx
  public/map_customMarker.png
  styles/globals.css
Labels: 📬 API, ✨ Feature

#23 [#20] 다이어리 좋아요,좋아요 취소 기능
  app/api/auth/[...nextauth]/route.ts
  app/api/comment/route.ts
  app/api/diary/like-cancel/route.ts
  app/api/diary/like/route.ts
  app/api/dictionary/route.ts
  app/api/refresh_token/route.ts
  app/lib/comment.ts
  app/lib/dictionary.ts
  package-lock.json
  prisma/schema.prisma
Labels: 📬 API, ✨ Feature

#33 [#32] 꿈 사전 검색 API 추가
  app/api/dictionary/search/route.ts
  app/lib/dictionary.ts
  prisma/schema.prisma
Labels: 📬 API, ✨ Feature

#34 [#31] axios 설치, 인터셉터 적용
  app/lib/api.ts
  package-lock.json
  package.json
Labels: 📬 API, ⚙ Setting

#37 [#27] useAxios 훅 추가
  app/api/auth/[...nextauth]/route.ts
  app/components/Navbar/navbar.module.css
  app/hooks/useAxios.ts
  app/login/login.module.css
  app/login/page.tsx
  app/page.tsx
  middleware.ts
Labels: 📬 API, ✨ Feature

#38 [#24] 꿈 일기 api 연결
  app/api/diary/route.ts
  app/api/service/community.tsx
  app/api/service/diary.tsx
  app/community/community.module.css
  app/community/page.tsx
  app/components/Comment/Comment.tsx
  app/components/Diary/Diary.tsx
  app/components/LinkToDiary/LinkToDiary.tsx
  app/components/Search/Search.tsx
  app/diary/diary.module.css
  app/diary/page.tsx
  app/hooks/useAxios.ts
  app/lib/api.ts
  app/post/page.tsx
  app/post/post.module.css
  app/read/[id]/page.tsx
  app/read/[id]/read.module.css
  app/read/page.tsx
Labels: 📬 API

#39 [#30] 댓글 api 연결
  app/api/comment/route.ts
  app/api/service/comment.tsx
  app/components/Comment/Comment.module.css
  app/components/Comment/Comment.tsx
  app/lib/api.ts
  app/lib/comment.ts
  app/main/page.tsx
  app/post/page.tsx
  app/read/[id]/page.tsx
  app/read/[id]/read.module.css
  public/banner.png
Labels: 📬 API

#41 [#24] 꿈 일기 api
  app/api/diary/route.ts
  app/api/service/search.tsx
  app/community/page.tsx
  app/components/Diary/Diary.tsx
  app/components/Search/Search.tsx
  app/diary/page.tsx
  app/hooks/useAxios.ts
  app/lib/diary.ts
  app/post/page.tsx
  app/read/[id]/page.tsx
  prisma/schema.prisma
Labels: 📬 API, 🔨 Refactor

#43 [#26] 꿈 해몽 api 연결
  app/api/service/dictionary.tsx
  app/components/Dream/Dream.tsx
  app/diary/page.tsx
  app/dictionary/dictionary.module.css
  app/dictionary/page.tsx
  app/lib/diary.ts
Labels: 📬 API

#45 [#27] 로그인 유저 api 연결
  app/api/auth/[...nextauth]/route.ts
  app/api/service/user.tsx
  app/diary/page.tsx
  app/layout.tsx
  app/login/login.module.css
  app/login/page.tsx
  app/lotto/page.tsx
  middleware.ts
Labels: 📬 API

#46 [#28] api: 로또 api 연결
  app/api/service/lotto.tsx
  app/lotto/lotto.module.css
  app/lotto/page.tsx
Labels: 📬 API

#48 [#24] 꿈 일기 api 연결
  app/api/service/diary.tsx
  app/read/[id]/page.tsx
Labels: 📬 API

#49 [#47] 디자인 수정
  app/community/community.module.css
  app/components/Diary/Diary.tsx
  app/components/Dream/Dream.module.css
  app/components/Dream/Dream.tsx
  app/components/HallOfFame/HallOfFame.tsx
  app/components/HallOfFame/hallOfFame.module.css
  app/components/LinkToDiary/linkToDiary.module.css
  app/components/LinkToDictionary/LinkToDictionary.module.css
  app/components/LinkToReport/LinkToReport.module.css
  app/components/Mobile/Mobile.module.css
  app/components/Mobile/Mobile.tsx
  app/diary/diary.module.css
  app/dictionary/dictionary.module.css
  app/layout.tsx
  app/lotto/lotto.module.css
  app/map/map.module.css
  app/map/page.tsx
  package-lock.json
  package.json
  styles/mediaLayout.module.css
Labels: 🎨 Html&css

#53 [#51] 드리밍 리포트
  app/api/service/report.tsx
  app/components/LinkToReport/LinkToReport.tsx
  app/report/page.tsx
  app/report/report.module.css
  package-lock.json
  package.json
  public/report_comment.png
  public/report_like.png
  public/report_post.png
Labels: 📬 API, ✨ Feature, 🔨 Refactor
